// roots
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #4CB6EF;
    --sub-color: #C3E7FA;
    --gray-stroke: #A3A3A3;
    font-family: "Quicksand", sans-serif;
    --red: #D30000;
}

body {
    background-color: rgb(240, 240, 240);
}

section {
    margin-bottom: 1rem;
}

.w-100 {
    width: 100%;
}

.text-red {
    color: var(--red);
}

.color-main {
    color: #4CB6EF
}

.color-sub {
    color: #C3E7FA;
}

h1 {
    font-size: 2.4375rem;
    color: var(--main-color);
}

header {
    background-color: white;
    padding: 0.5rem 0;
}

.a-i-center {
    display: flex;
    align-items: center;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.input-text {
    width: 100%;
    border: 0;
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.25rem;
}

.row {
    width: 100%;
}

// components

.dropdown {
    font-size: 1rem; 
    gap: 1rem;
    white-space: nowrap;
}

.card {
    border-radius: .5rem;
    overflow: hidden;
}

.radio-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-radio,.card-checkbox {
    height: 1.15rem;
    width: 1.15rem;
    margin-right: 1rem;
}

.card-head {
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem .75rem;
}

.card-body {
    background-color: white;
    padding: .75rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-text-main {
    border: 0.15rem solid; 
    border-color: var(--gray-stroke);
    border-radius: .5rem;
    padding: 1.15rem .5rem;
    margin-left: 0.5rem;
    }

.card-foot {
    background-color: var(--sub-color);
    color: var(--gray-stroke);
    border-radius: .5rem;
    padding: .5rem .75rem;

}

.card-foot>span {
    font-size: 1rem;
}

.body-dropdown {
    border: 0.15rem solid;
    border-radius: .5rem;
    border-color: var(--gray-stroke);
    padding: .375rem .75rem;
    width: 18.75rem;
    justify-content: space-between;
}


// header
header>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header>div>.logo>a>img {
    width: 12rem;
}

.sb-outline {
    border: 0.15rem solid lightgray;
    padding: 0.25rem 0.5rem;
    border-radius: 5rem;
    justify-content: space-between;
}

.sb-outline:hover {
    border-color: black;
}

.sb-dropdown {
    margin: 0 0.75rem;
}

header>div>.icon-bar>a {
    color: black;
    text-decoration: none;
}

header>div>.icon-bar>a:hover {
    color: rgb(75, 75, 75);
}

header>div>.icon-bar>a>.header-icons {
    font-size: 1.5rem;
}

header>div>.icon-bar>a>.bookshelf, header>div>.icon-bar>a>.wishlist {
    display: none;
}

// main>head

.main-head {
    margin: 0.5rem 1rem;
}

.steps {
    max-width: 30rem;
    margin: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-between;
}

.steps>li:nth-child(2) {
    color: #1D72A0;
}

// main

.credit-card {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.credit-card>.input-text {
    margin-right: 30%;
    max-width: 31.25rem;
    min-width: 20rem;
}

.payment-note {
    width: 100%; 
    margin-top: 0.5rem;
}

.payment-note, .payment-note>span {
    font-size: 1rem;
    color: var(--gray-stroke);
}

.card-date, .card-cvc {
    width: 150px;
}

.union-pay>.radio-group, .conbini>.radio-group {
    display: flex;
    flex-wrap: nowrap;
}

.invoice-email {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.invoice-email>.input-text {
        max-width: 24rem;
    }

.invoice-email>div>span {
    font-size: 1rem;
}

.einvoice-sub, .donate-sub {
    margin: .75rem 1rem;
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem;
}

.donate-code {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
}

.mobile-ein>.input-text {
    margin-top: 0.5rem;
    max-width: 11.25rem;
}

.printed {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.printed>.row>.input-text {
    width: 45%;
    max-width: 15rem;
}

.printed>.address>.input-text {
    width: 100%;
    max-width: 8rem;
}

.printed>.row>.dropdown:nth-child(2) {
    width: 7.5rem;
}

.printed>.row>.dropdown:nth-child(3) {
    width: 9.375rem;
}

.printed>.address {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.printed>.address-line>.input-text {
    width: 100%;
    max-width: none;
}

.pay-sum>.card-foot>.row {
    margin-top: .5rem;
    padding-top: 0.5rem;
    border-top: 1px solid;
    border-color: var(--gray-stroke);
    color: black;
    text-align: center;
}

.sum-top, .sum-bot {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding-bottom: .75rem;
}

.sum-bot{
    padding-top: 0.75rem;
    border-top: 0.1rem solid;
    border-color: var(--gray-stroke);
}

.sum-content>div>.row {
    justify-content: space-between;
}

.sum-content>div>.row>div {
    color: var(--gray-stroke);
}

.sum-bot>.row:nth-child(3), .sum-bot>.row:nth-child(4) {
    margin-left: 1rem;
}

.pay-btn {
    padding-top: .75rem;
}

.pay-btn>a>button:hover, .pay-btn>a>button:active {
    background-color: rgb(160, 16, 0);
}

.confirm-payment {
    background-color: #D30000;
    font-size: 1.5rem;
    color: white;
    padding: .5rem 0;
    width: 100%;
    border-radius: .5rem;
}

@media(min-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        }

    header>.container {
        display: flex;
        align-items: center;

    }

    header>div>.logo {
        order: -1;
    }

    header>div>.icon-bar>a>.header-icons {
    font-size: 1.6rem;
    }

    header>div>.icon-bar>a>.bookshelf, header>div>.icon-bar>a>.wishlist {
    display: inline-block;
    }

    header>div>.icon-bar>a>.menu {
    display: none;
}

    header>div>.search-bar {
        order: 0;
        width: 40%;
        min-width: 21rem;
    }

    header>div>.icon-bar {
        order: 1;
    }

    .main-head {
        margin: 1rem 0;
        display: flex;
        gap: 3rem;
    }

    .main-head>ol {
        font-size: 1.25rem;
        gap: 2.5rem;
    }

    .content {
        display: flex;
        justify-content: space-between;
        }

    .container-left {
        width: 66%;
    }

    .container-right {
        width: 32%;
    }

    .credit-card>.input-text {
        margin-right: 20%;
    }

    .payment-note {
        margin-left: auto;
        margin-top: 0;
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .einvoice-sub {
        justify-content: space-between;
    }

    .mobile-ein {
        flex-wrap: nowrap;
        white-space: nowrap;
        width: fit-content;
    }


}

@media (min-width: 1024px) {
    header>div>.icon-bar>a>.header-icons {
    font-size: 2rem;
    }

    header>div>.logo>a>img {
    width: 14rem;
}
}