* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240)!important;
}

.steps{
    display: flex;
    align-items: center;
}

.steps>li:nth-child(1) {
    color: #1D72A0;
    }

.head>button { 
    width: fit-content;
  
}


// card-footer 
.coupons>.card-footer, .points>.card-footer,
.summary>.card-footer{
    color: lightgray;
    font-size: 0.75rem;
    display: flex;
}

.card-footer>i{
    font-size: 0.5rem;
}

.text-red{
    color: red;
}

.row-sub{
    font-size: .875rem;
}

.book-cover{
    border-radius: 8px;
    width: 50px;
    height: 75px;
    background-color: pink;
}

.coupon-display{
    border-radius: 8px;
    width: 40%;
    height: 70px;    background-color: pink;
}


@media (min-width:992px) {
    header>.navbar>.navbar-brand {
        order: -1;
               }
    header>.navbar>.header-button {
        order: 0;
               }
    header>.navbar>.search-bar {
        order: -1;
        max-width: 40%;
               }
}

@media (max-width:768px){
    main>.head>.offcanvas {
        width: 100%!important;
    }

    main>div>div>.summary {
        position: fixed;
        width: 100%;
        bottom: 0; right: 0;
    }
}
